@model List<ProyectoFinal.Models.sp_RetornaCuentas_Result>

@{
    ViewBag.Title = "CuentasLista";
}

<h2>Lista de Cuentas</h2>

@*<a href="~/Monedas/MonedaNuevo">Agregar un Tipo de Cliente</a>*@

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Tipo de Cambio</th>
        <th>Codigo</th>
        <th>Acciones</th>
    </tr>
    @{
        foreach (ProyectoFinal.Models.sp_RetornaCuentas_Result posicionModelo in this.Model)
        {
        <tr>
            <td>@posicionModelo.Numero_Cuenta</td>
            <td>@posicionModelo.Id_Cliente</td>
            <td>@posicionModelo.Id_Tipo_Cuenta</td>
            <td>@posicionModelo.Id_Moneda</td>
            <td>@posicionModelo.Saldo</td>
            <td>@posicionModelo.Estado</td>



            @*<td>
            <a href="~/Monedas/MonedaModifica?Id_Moneda=@posicionModelo.Id_Moneda">Modificar</a>
            <br />
            <a href="~/Monedas/MonedaElimina?Id_Moneda=@posicionModelo.Id_Moneda">Eliminar</a>
        </td>*@

        <td>

            <label>Tipo de Cliente :</label>
            @*  @Html.DropDownListFor(model => model.Tipo_Cliente, (IEnumerable<SelectListItem>)ViewBag.ListaTiposClientes, "Sin seleccionar", new { @class = "form-control", @required = "required" })*@

            <select name="Id_Cliente" id="Id_Cliente" class="form-control">
                <option value="">SELECCIONE UNA OPCIÓN</option>
                @{
                    foreach (ProyectoFinal.Models.sp_RetornaClientes_Result tipo
                        in this.ViewBag.ListaCliente)
                    {
                        <option value="@tipo.Id_Cliente">@tipo.Nombre.ToUpper() </option>
                    }

                }
            </select>
        </td>
       
            
        </tr>
        }






    }


</table>
