@model List<ProyectoFinal.Models.sp_RetornaCuentas_Result>

@{
    ViewBag.Title = "CuentasLista";
}

<link href="~/Content/CSS/CSS.css" rel="stylesheet" />

<h2 style="opacity:0.6">Lista de Cuentas</h2>



<table class="table" style="opacity:0.5">
    <tr>
        <th id="Encabezado">Cuenta</th>
        <th id="Encabezado">Nombre</th>
        <th id="Encabezado">Tipo de Cuenta</th>
        <th id="Encabezado">Moneda</th>
        <th id="Encabezado">Saldo</th>
        <th id="Encabezado">Estado</th>
        <th id="Encabezado">Acciones</th>
    </tr>
    @{
        foreach (ProyectoFinal.Models.sp_RetornaCuentas_Result posicionModelo in this.Model)
        {
        <tr>
            <td>@posicionModelo.Numero_Cuenta</td>
            <td>@posicionModelo.NombreCliente @posicionModelo.ApellidoCliente @posicionModelo.SegundoApellido</td>
            <td>@posicionModelo.NombreCuenta</td>
            <td>@posicionModelo.NombreMonneda</td>
            <td>@posicionModelo.Saldo</td>
            <td>@posicionModelo.Estado</td>

            <td>
                <a href="~/Cuentas/CuentaModifica?Id_Cuenta=@posicionModelo.Id_Cuenta">Modificar</a>
                <br />
                <a href="~/Cuentas/CuentaElimina?Id_Cuenta=@posicionModelo.Id_Cuenta">Eliminar</a>
        </td>
</tr>
        }

    }


</table>

<ul><li><a id="Enlace" href="~/Cuentas/CuentaNueva" style="opacity:0.6">Agregar una Cuenta Nueva</a></li></ul>
