@model List<ProyectoFinal.Models.sp_RetornaClientes_Result>

@{
    ViewBag.Title = "ClienteLista";
}

<link href="~/Content/CSS/CSS.css" rel="stylesheet" />
<h2 style="opacity:0.6">Lista de Clientes</h2>

<body>

    <table class="table table-hover table-striped" style="opacity:0.5">
        <thead>
            <tr>
                <th id="Encabezado">Cédula</th>
                <th id="Encabezado">Género</th>
                <th id="Encabezado">Fecha Nacimicento</th>
                <th id="Encabezado">Nombre Completo</th>
                <th id="Encabezado">Dirección</th>
                <th id="Encabezado">Teléfono Principal</th>
                <th id="Encabezado">Teléfono Secundario</th>
                <th id="Encabezado">Correo Electrónico</th>
                <th id="Encabezado">Tipo Cliente</th>
                <th id="Encabezado">Acciones</th>
            </tr>
        </thead>
        @{
            foreach (ProyectoFinal.Models.sp_RetornaClientes_Result posicionModelo in this.Model)
            {
                <tr>
                    <td>@posicionModelo.Cedula</td>
                    <td>@posicionModelo.Genero</td>
                    <td>@posicionModelo.Fecha_Nacimiento</td>
                    <td>@posicionModelo.Primer_Apellido @posicionModelo.Segundo_Apellido @posicionModelo.Nombre</td>
                    <td>@posicionModelo.Direccion_Fisica</td>
                    <td>@posicionModelo.Telefono_Principal</td>
                    <td>@posicionModelo.Telefono_Secundario</td>
                    <td>@posicionModelo.Correo_Electronico</td>
                    <td>@posicionModelo.Tipo_Cliente</td>
                    <td>
                        <a href="~/Clientes/ClienteModifica?Id_Cliente=@posicionModelo.Id_Cliente">Modificar</a>
                        <br />
                        <a href="~/Clientes/ClienteElimina?Id_Cliente=@posicionModelo.Id_Cliente">Eliminar</a>
                    </td>
                </tr>
            }


        }

    </table>

    <ul>
        <li><a id="Enlace" href="~/Clientes/ClienteNuevo" style="opacity:0.6">Agregar Cliente</a></li>
    </ul>

</body>

